.food-card {
  transition: transform 0.2s ease-in-out;
 
}

.food-card:hover {
  transform: scale(1.1);
}
.btn-primary {
  background-color: #88c070 !important;
  border-color: #88c070 !important;
}

.btn-primary:hover {
  background-color: #5d974a !important;
  border-color: #5d974a !important;
}
.overlayfood {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.471);
}